##ignore this file##
/.vs/
/x64/
##databfile##
/IASPlayer/.vs/
/IASPlayer/GeneratedFiles/
/IASPlayer/x64/
/IASPlayer/*.vcxproj.vspscc
IASPlayer/*.vcxproj.user
/IASPlayer/*.dll
/IASPlayer/*.jpg
/IASPlayer/*.mp4
/IASPlayer/*.png
